<div class="body">
  <div class="content date-field">
    <mat-form-field appearance="fill">
      <mat-label>Fecha de 'Schedule'</mat-label>
      <input matInput [matDatepicker]="picker" [formControl]="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <div class="dateContent">
      <button mat-button color="primary" (click)="modifyDate(-1)">
        <mat-icon>remove</mat-icon>
      </button>

      <span id="dateString">{{date.value | date:'d MMM YYYY'}}</span>

      <button mat-button color="accent" (click)="modifyDate(1)">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <div class="content name-field">
    <mat-form-field appearance="fill">
      <mat-label>Nombre del Video</mat-label>
      <input matInput [(ngModel)]="videoName">
    </mat-form-field>

    <div class="nameContent">
      <button mat-button color="primary" (click)="modifyCounter(-1)">
        <mat-icon>remove</mat-icon>
      </button>

      <div id="nameString">{{videoName}} {{videoPart}}</div>

      <button mat-button color="accent" (click)="modifyCounter(1)">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <button mat-button color="primary" (click)="videoPart = 0">Reset</button>

    <mat-divider class="mb-3"></mat-divider>

    <div class="replaceNameContent">
      <mat-form-field appearance="fill">
        <mat-label>Video name</mat-label>
        <input matInput [(ngModel)]="videoNameReplace">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>To replace text</mat-label>
        <input matInput [(ngModel)]="toReplaceText">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Result replace text</mat-label>
        <input matInput [(ngModel)]="resultReplaceText">
      </mat-form-field>
      
     <button mat-button color="primary" (click)="replaceNameText()">Replace</button>

      <div id="textReplaced">{{textReplaced}}</div>
    </div>

    <mat-divider class="my-3"></mat-divider>
    
    <mat-form-field appearance="fill">
      <mat-label>Fecha de 'Schedule' Inicial</mat-label>
      <input matInput [matDatepicker]="picker" [formControl]="dateToAdd">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <div class="flex-row">
      <mat-form-field appearance="fill">
        <mat-label>Days to add</mat-label>
        <input matInput [(ngModel)]="daysToAdd" type="number">
      </mat-form-field>

      <button mat-button color="accent" (click)="addDaysToDate()">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <div class="nameContent">
      <span id="dateToAdd">{{dateToAddResult | date:'d MMM YYYY'}}</span>
    </div>

    <mat-divider class="my-3"></mat-divider>

    <div class="imgNameContent flex-column">
      <mat-form-field appearance="fill">
        <mat-label>Img name (* will be replace by number)</mat-label>
        <input matInput [(ngModel)]="nameImg">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Img number</mat-label>
        <input matInput [(ngModel)]="numberImg">
      </mat-form-field>
      
      <button mat-button color="primary" (click)="buildImgName()">Replace</button>

      <div id="imgResult">{{imgResult}}</div>
  </div>
  </div>
</div>
