.content {
    width: 480px;
    margin: 0 auto;
    padding: 24px 0;

    mat-form-field {
        width: 100%;
    }

    .dateContent, .nameContent {
        margin: 0 auto;
    }

    .dateContent {
        width: 50%;
    }

    .nameContent {
        display: flex;
        place-content: center;
        flex-direction: row;
        align-items: center;

        #nameString {
            min-width: calc(100% - 128px);
        }
    }
}