<div class="body">
  <div class="content date-field">
    <mat-form-field appearance="fill">
      <mat-label>Fecha de 'Schedule'</mat-label>
      <input matInput [matDatepicker]="picker" [formControl]="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <div class="dateContent">
      <button mat-button color="primary" (click)="modifyDate(-1)">
        <mat-icon>remove</mat-icon>
      </button>

      <span id="dateString">{{date.value | date:'d MMM YYYY'}}</span>

      <button mat-button color="accent" (click)="modifyDate(1)">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <div class="content name-field">
    <mat-form-field appearance="fill">
      <mat-label>Nombre del Video</mat-label>
      <input matInput [(ngModel)]="videoName">
    </mat-form-field>

    <div class="nameContent">
      <button mat-button color="primary" (click)="modifyCounter(-1)">
        <mat-icon>remove</mat-icon>
      </button>

      <div id="nameString">{{videoName}} {{videoPart}}</div>

      <button mat-button color="accent" (click)="modifyCounter(1)">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <button mat-button color="primary" (click)="videoPart = 0">Reset</button>
  </div>
</div>
