.content {
    width: 480px;
    margin: 0 auto;
    padding: 24px 0;

    mat-form-field {
        width: 100%;
    }

    .dateContent, .nameContent {
        margin: 0 auto;
    }

    .dateContent {
        width: 50%;
    }

    .nameContent {
        display: flex;
        place-content: center;
        flex-direction: row;
        align-items: center;

        #nameString {
            min-width: calc(100% - 128px);
        }
    }
}

.mb-3 {
    margin-bottom: 1rem;
}

.my-3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}